@import 'styles/configs.scss';

.wrapper {
  position: relative;
  // overflow: hidden;
  // width: 1380px;
  width: 100%;
  height: 100%;
}

.main-slider {
  display: block;
}

.slider-item {
  .txt {
    display: none;
    color: white;
    word-break: keep-all;
    text-align: center;
    width: 500px;

    @include respond-to('sm') {
      display: none;
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
    }
  }
  .img {
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center;
    }
    video {
      width: 100%;
      height: 500px;
      object-fit: cover;
      object-position: center;
    }
  }
}
// .slider-item {
//   &-inner {
//     position: relative;
//     width: 1024px;
//     height: 700px;
//     margin: 0 auto;
//   }

//   .text {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translateY(-50%);

//     em {
//       font-size: 48px;
//       line-height: 1.3;
//       font-style: normal;
//       font-weight: 700;
//     }

//     p {
//       font-size: 16px;
//       line-height: 1.5;
//     }
//   }

//   .image {
//     position: absolute;
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
//   }
// }
// .slider-item:nth-of-type(2n + 1) {

// }
